<%- model_class = Message -%>
<%= content_tag :div, :class => "panel-heading" do %>
    <%= page_entries_info @messages %>
<% end %>
    <div class="table-responsive">
        <table class="table table-striped table-hover bg-white">
            <thead>
                <tr>
                    <th class="col-md-2"><%= model_class.human_attribute_name(:user_name) %></th>
                    <th class="col-md-3"><%= model_class.human_attribute_name(:sending_number) %></th>
                    <th class="col-md-3"><%= model_class.human_attribute_name(:message) %></th>
                    <th class="col-md-3"><%= model_class.human_attribute_name(:sending_time) %></th>
                    <th class="col-md-1">Detail</th>
                </tr>
            </thead>
            <tbody>
                <% @messages.each do |message| %>
                <tr>
                    <td><%= message.user.try(:name) %></td>
                    <td><%= message.try(:phone_number) %></td>
                    <td><%= message.description %></td>
                    <td><%= message.created_at %></td>
                    <td>
                        <div class="pull-left">
                            <%= link_to message_path(message), :class => 'btn btn-default' do %>
                                <%= content_tag(:span, nil, class: 'fa fa-list') %>
                            <% end %>
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<%= content_tag :div, :class => 'panel-footer text-center' do %>
    <%= paginate @messages %>
<% end %>
