<!DOCTYPE html>
<html>
<head>
    <title>Late Managerment</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
</head>
<body>
    <section id="container">
        <%= render 'layouts/header' %>
        <%= render 'layouts/sidebar' %>
        <div class="serverad-content-wrapper">
            <div class="serverad-content">
                <%= render 'layouts/page_title' %>
                <%= render 'layouts/message' %>
                <%= yield %>
            </div>
        </div>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/confirm_dialog' %>
    </section>
</body>
</html>

